{% extends 'base_generic.html' %}

{%block h1%}
Cargar Archivo
{%endblock%}
{% block content %}
    <div class="container row">
        <form method="POST" enctype="multipart/form-data" class="form-horizontal">
            {%csrf_token%}
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File:</label>
                <div class="col-md-8">
                    <input type="file" name="file" id="file" required="True" class="form-control {% if form.errors %}is-invalid{% endif %}" accept=".csv, .xlsx">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif%}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom: 10px;">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-upload" style="margin: right 5px;"></span>Load</button>
                </div>

            </div>
        
        </form>
        
   
    </div>
{% endblock %}



